# /Config/UpdateTime.txt
/Config/Local/*
/Archive/andwhyisit.bugsiteguardian.com
/Archive/archive.cavestory.org
/Archive/forum.cavestory.org
/Archive/www.cavestory.org
/Archive/www.romhacking.net
/Archive/Dump/越南大作战1-4+X.exe
