<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".opus" mimeType="audio/opus" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="访问 Octavia" enabled="true" stopProcessing="true">
                    <match url="^octavia" />
                    <action type="Redirect" url="http://yuhang0000-pc-3:65535/octavia/" redirectType="Found" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{SERVER_PORT}" pattern="^80$" />
                    </conditions>
                </rule>
                <rule name="访问 X" stopProcessing="true">
                    <match url="^x" />
                    <action type="Redirect" url="http://yuhang0000-pc-3:65535/x/" redirectType="Found" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{SERVER_PORT}" pattern="^80$" />
                    </conditions>
                </rule>
                <rule name="重定向列表" stopProcessing="true">
                    <match url="^Web/Test.html" />
                    <action type="Redirect" url="http://yuhang0000-pc-3:65535/" redirectType="Found" />
                    <conditions>
                        <add input="{SERVER_PORT}" pattern="^80$" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
