body{
  margin: 0px;
}
.editor_body>.content{
  display: flex;
  width: 100%;
  height: 100%;
}
/* 標題 */
h1{
  color: var(--gray9);
}
h2{
  color: var(--gray7);
}
/* 主容器 */
.editor_body{
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* 標題欄 */
.titlebar{
  display: block;
  padding: var(--padding);
  background: var(--gray3);
}
/* 工具欄 */
.toolbar{
  display: flex;
  padding: var(--padding) 0px;
  background: var(--gray2);
  flex-direction: row;
}
.toolbar>*{
  margin-left: var(--padding);
}
.toolbar>*:last-child{
  margin-right: var(--padding);
}
/* 圖標按鈕組 */
.icon_btn_group>*{
  margin-left: var(--padding);
}
/* 側邊欄 */
.sidebar{
  width: auto;
  height: 100%;
  background: var(--gray1);
  padding: calc( var(--padding) / 2 );
  box-sizing: border-box;
}
/* 側邊欄 - 項目 */
.sidebar .accordion{
  padding: calc( var(--padding) / 2 );
}
/* 側邊欄 - 項目 - 標題 */
.sidebar .accordion .title{
  
}
.sidebar .accordion .title span{
  
}
.sidebar .accordion .title .icon_btn{
  
}
/* 側邊欄 - 項目 - 圖標按鈕 */
.sidebar .icon_btn:not(:active):hover{
  background: var(--gray2);
  border-color: var(--gray4);
}
.sidebar .icon_btn.checked{
  background: var(--gray2);
}
.sidebar .icon_btn:active{
  background: var(--gray3);
  border-color: var(--gray5);
}
/* 側邊欄 - 項目 - 内容 */
.sidebar .accordion .content{
  display: inline-flex;
  padding-top: var(--padding);
}
/* 側邊欄 - 項目 - 内容 - 項目 */
.sidebar .accordion .item{
  display: inline-flex;
  height: var(--btn-size);
}
.sidebar .accordion .item:not(:first-child){
  padding-left: calc( var(--padding) * 2 );
}
.sidebar .accordion .item>*:not(:first-child){
  padding-left: var(--padding);
}
