@font-face {
font-family: 'Comfortaa';
src: url('\Resources\Fonts\Comfortaa\Comfortaa-Light.woff2') format('woff2'),
     url('\Resources\Fonts\Comfortaa\Comfortaa-Light.woff') format('woff'),
     url('\Resources\Fonts\Comfortaa\Comfortaa-Light.ttf') format('truetype');
font-weight: 300;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Comfortaa';
src: url('\Resources\Fonts\Comfortaa\Comfortaa-Regular.woff2') format('woff2'),
     url('\Resources\Fonts\Comfortaa\Comfortaa-Regular.woff') format('woff'),
     url('\Resources\Fonts\Comfortaa\Comfortaa-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Comfortaa';
src: url('\Resources\Fonts\Comfortaa\Comfortaa-Medium.woff2') format('woff2'),
     url('\Resources\Fonts\Comfortaa\Comfortaa-Medium.woff') format('woff'),
     url('\Resources\Fonts\Comfortaa\Comfortaa-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Comfortaa';
src: url('\Resources\Fonts\Comfortaa\Comfortaa-SemiBold.woff2') format('woff2'),
     url('\Resources\Fonts\Comfortaa\Comfortaa-SemiBold.woff') format('woff'),
     url('\Resources\Fonts\Comfortaa\Comfortaa-SemiBold.ttf') format('truetype');
font-weight: 600;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Comfortaa';
src: url('\Resources\Fonts\Comfortaa\Comfortaa-Bold.woff2') format('woff2'),
     url('\Resources\Fonts\Comfortaa\Comfortaa-Bold.woff') format('woff'),
     url('\Resources\Fonts\Comfortaa\Comfortaa-Bold.ttf') format('truetype');
font-weight: 700;
font-style: normal;
font-display: swap;
}
