@charset "UTF-8";
@-ms-viewport { width:device-width; }
@viewport { width:device-width; }
/* ---- FONT SIZES ---- */
.sign,.sl { font-size:10px; }
.small,.utilitybox,.hp,.footer { font-size:11px; }
.nav ul strong { font-size:13px; }
.header3,.sn a,.sn li strong,h3,.s a { font-size:14px; }
.header2,h2,#nvt,.nav a  { font-size:16px; }
.header,.thanksheader,h1 { font-size:18px; }
h1 { font-size:26px; }
a.tp { line-height:48px; }
/* ---- MAIN STYLES ---- */
body,table,td,th,.lnav a,.ctl,.ctr,.norm { font-family:Arial, Helvetica, sans-serif; color:#333; font-size:12px; }
body { background-color:#89AAE0; }
table,td,th,a img,.nav,.nav li,.lnav,.lnav li,iframe,.ctab,.ctl,.ctr { border:none; }
table,.nav,.lnav,.ctab { border-collapse:collapse; border-spacing:0; }
.ctab,.ctl,.ctr { background-color:#FFF; }
.ctl { width:315px; }
.ctr { width:585px; }
.ci { width:561px; }
td,th,.lnav td,.lnav li,.ctl,.ctr { padding:0; margin:0; }
.p1 td,.p1 th,.p1l { padding:1px; }
.p3 td,.p3 th,.p3l { padding:3px; }
.p6 td,.p6 th,.p6l { padding:6px; }
body { margin:0; }
.island { margin:0 auto; position:relative; background-color:#FFF; -webkit-box-shadow:0 0 6px #477ACF; -moz-box-shadow:0 0 6px #477ACF; box-shadow:0 0 6px #477ACF; }
.lhcont { padding:12px 0 12px 12px; }
.footer,.fl a { background-color:#CCC; color:#000; }
.fl,.fr { margin:0 14px; width:350px; padding:3px 0; }
.right,.fr { float:right; }
.left,.fl { float:left; }
.contentt { padding:12px; word-wrap:break-word; overflow-wrap:break-word; }
.ctab,.island,.nav,.lnav { width:900px; }
.ctab { table-layout:fixed; }
.fwt { width:100%; }
.tpwt { width:33%; }
.clr,.nac { font-size:1px; }
.clear,.clr,.nac { clear:both; }
.nac, .lmo { display:none; }
.lnx { height:1px; width:1px; overflow:hidden; }
.lnx pre { padding:1px 0 0; }
/* ---- LINKS ---- */
a { color:#06F; text-decoration:none; }
.fl a { text-decoration:underline; }
a:hover { color:#F90; }
a i,a .ext { background-repeat:repeat-x; display:inline-block; width:13px; height:12px; font-size:12px; overflow:hidden; vertical-align:text-top; font-family: monospace; white-space: pre; }
a i { background-position:16px 2px; }
a.doc i { background-position:32px 2px; }
a:hover i { background-position:48px 2px; }
a.doc:hover i { background-position:64px 2px; }
.nav a i,.nav a:hover i { background-position:80px 2px; }
/* ---- NAVIGATION ---- */
.nav { border-top:1px solid #4F80D0; }
.nav td,.nav li { padding:0; background-color:#000; }
.nav a,.nav ul strong { background-color:#000; padding:8px; line-height:21px; }
.nav a:hover { background-color:#7D7D7D; color:#FFF; }
.lnav { border-top:1px solid #29549A; }
.lnav a,#nvt { background-color:#152B4F; line-height:26px; }
.lnav a:hover,#nvt:hover { background-color:#214074; color:#FFF; }
.nav a,.lnav a,#nvt,h1,.nav ul strong { font-family:"Century Gothic",CenturyGothic,"Century-Gothic","STHeiti",AppleGothic,Arial,sans-serif; color:#FFF; font-weight:bold; display:block; }
.nav a.home,.lnav a.home { color:#FC0; }
.nav a.home:hover,.nav a:hover { background-color:#152B4F; }
.nav a,.lnav a,.nav,.nav ul strong { margin:0; }
div.nav,div.lnav,.ctab { display:table; }
.nav ul,.lnav ul,.crow,.sn,.sn li { display:table-row; list-style:none; padding:0; margin:0; }
.sn,.sn li,a.tp { display:block; }
.nav li,.lnav li,.ctl,.ctr { display:table-cell; margin:0; }
.sn { background-color:#FFF; padding:1px 1px 0; }
.sn a,.sn li strong { margin:0 0 1px; background-color:#6C92CE; display:block; padding:5px; font-weight:bold; color:#FFF; }
.sn li strong { background-color:#FFF; color:#000; font-size:16px; padding:8px 3px 0; }
.sn a:hover { background-color:#537EC6; color:#FFF; }
.sn a.cni,.sn a.cni:hover { background-color:#375FA1; }
.nav a,.lnav a,.sn a,#nvt { -webkit-transition:background-color 500ms ease; -moz-transition:background-color 500ms ease; -ms-transition:background-color 500ms ease; -o-transition:background-color 500ms ease; transition:background-color 500ms ease; }
.nav li ul, .lnav li ul, .nav td ul, .lnav td ul { display:none; }
#nvt { display:none; padding:8px; color:#FFF; }
/* ---- ALIGNMENT ---- */
td,th,td.al,th.al,.al,.al td,.al th,.island,.lhcont,.rhcont,.left,.fl,.contentt,.ctl,.ctr { text-align:left; }
td.ac,th.ac,.ac,.ac td,.ac th,.container,.lnav a,.nav a,#nvt { text-align:center; }
td.ar,th.ar,.ar,.ar td,.ar th,.right,.fr,.utilitybox .n1 { text-align:right; }
td,th,td.vat,th.vat,.vat td,.vat th,.ctl,.ctr { vertical-align:top; }
td.vam,th.vam,.vam td,.vam th { vertical-align:middle; }
td.vab,th.vab,.vab td,.vab th,.w img,.imrf img,.utilitybox img,.lhsthanks img,.l img { vertical-align:bottom; }
/* ---- MISC STYLES ---- */
h1 { font-weight:normal; }
.norm { font-weight:normal; font-style:normal; }
.header,h1,.red { color:#F30; }
h1,.ktp { margin:0 0 8px; padding:0; }
ul { list-style-type:square; }
.spacer td,li { padding:0 0 8px; }
.left img { margin:0 5px 5px 0; }
.right img { margin:0 0 5px 5px; }
a img.border { border:1px solid #4D4D4D; }
.alt1,.alt1 td { background-color:#CCC; }
.alt2,.alt2 td { background-color:#E8E8E8; }
div.alt1,div.alt2 { padding:2px; }
.blacklink { color:#333; }
.linesp td {  border-bottom:1px solid #FFF; border-right:1px solid #FFF; }
.lw { padding:0 40px; background-position:right top; height:144px; background-color:#29549A; background-repeat:no-repeat; }
.l { padding:41px 12px 0; }
.lnkl,.lnkl li,.lnkl p { padding:0; margin:0; list-style-type:none; }
.lnkl a,a.blnk,.blnk a { display:block; }
.lnkl a { padding:8px 0; }
.mc,.mo,.nav a.mc,.nav a.mo,.lnav a.mc,.lnav a.mo { position:absolute; right:0; top:0; background-color:#333; box-sizing:border:box; width:40px; text-align:center; }
.mc,.mo,.nav a.mc,.nav a.mo,.lnav a.mc,.lnav a.mo { display:none; }
#nvt,.mc,.mo { cursor:hand; cursor:pointer; }
.rb { background-color:#F30; padding:8px; margin:0 0 8px; }
.rb, .rb a { color:#FFF; }
.rb a { text-decoration:underline; }
.rb a:hover { color:#FF6;}
@media only screen and (max-width:940px) {
	a.blnk,.blnk a { padding:8px; }
	.ci { width:auto; }
	.lw { padding:0; background-position:250px 0; height:auto; }
	.l { padding:19px 12px; }
	.ctab,.island,.nav,.lnav { width:600px; }
	.nav a { font-size:12px; padding:8px 2px; }
	.fl,.fr { text-align:center; float:none; width:auto; margin:0; padding-left:3px; padding-right:3px; }
	.fl a { display:block; line-height:48px; }
	.ctl { width:180px; }
	.ctr { width:420px; }
	.so .ctab,.so .crow,.so .ctl,.so .ctr,table.rdt,.rdt>tbody,.rdt>tbody>tr,.rdt>tr,.rdt>tbody>tr>td,.rdt>tr>td { display:block; width:auto; }
	.lhcont,.rhcont { padding:12px; }
	.sn { padding:1px 0; margin:0 0 0 1px; width:179px; }
	.fl a,.sn li strong { font-size:14px; }
	.sn a,.sn li strong { font-size:12px; }
	.fwt { width:auto; }
	table.rib,.rib tbody,.rib tr,.rib td { display:inline; width:auto; vertical-align:top; }
	.rib td { display:inline-block; }
	img { height:auto; width:auto; max-width:100%; }
	.rdb { display:none; }
	iframe { max-width:100%; }
	.lcr,.ccr,.rcr { width:100%; overflow:hidden; margin:0; position:relative; }
	.lcr img,.ccr img,.rcr img { max-width:none; }
	.rcr img { position:relative; left:-100%; }
	.rcr div,.ccr div { position:relative; width:560px; }
	.lcr div { text-align:left; }
	.rcr div { left:100%; text-align:right; }
	.rcr img { left:-560px; position:relative; }
	.ccr div { left:50%; margin-left:-280px; text-align:center; }
}
@media only screen and (max-width:640px) {
	.t0 { display:none; }
	#nvt,.lnav li,.nav li,.t1,.mc,.mo,.nav li .mo+ul,.lnav li .mo+ul, .lnav td,.nav td,.nav td .mo+ul,.lnav td .mo+ul,
	.lnav ul,.nav ul,.lnav tr,.nav tr,table.lnav,table.nav,.mo,.nav a.mc,.nav a.mo,.lnav a.mc,.lnav a.mo { display:block; }
	.nav li,.lnav li,.nav td,.lnav td { position:relative; width:100%; }
	.nav li ul a,.lnav li ul a,.nav td ul a,.lnav td ul a { font-size:12px; padding-left:32px; }
	.nav ul strong { padding:8px 8px 0 18px; }
	.ctab,.crow,.ctl,.ctr { display:block; width:auto; }
	.island,.nav,.lnav,.sn { width:auto; }
	.l { padding:12px; }
	.nav,.lnav { background-color:#000; }
	.lnav { border-top:none; }
	.lnav li a,.nav li a { padding-right:48px; }
	.nav li ul a,.lnav li ul a,.lnav li a.mc,.nav li a.mo,.nav li a.mc,.lnav li a.mo,
	.nav td ul a,.lnav td ul a,.lnav td a.mc,.nav td a.mo,.nav td a.mc,.lnav td a.mo { padding-right:8px; }
	.lnav a { background-color:#000; line-height:21px; }
	.lnav a, .nav a { width:auto; float:none; text-align:left; font-size:14px; padding:8px; }
	.lnav a:hover { background-color:#152B4F; }
	.sn,.rsn { padding:12px; }
	.rsn .sn { padding:0; }
	.rsn { display:none; }
	.nac,.lnav,.nav,div.lnav,div.nav { display:block; }
}
@media only screen and (max-width:400px) {
	.left,.right { float:none; }
	.left img,.right img { margin:0; }
	iframe { height:200px; }
	.lcrb { width:100%; overflow:hidden; text-align:left; }
	.lcrb img { max-width:none; }
}
@media only screen and (max-width:300px) {
	.rib td { display:block; }
	ul { padding-left:20px; margin-left:0; }
}
@media only screen and (max-width:260px) {
	.mc,.mo,.nav a.mo,.lnav a.mo,.nav a.mc,.lnav a.mc { display:none; }
	.nav li ul,.lnav li ul, .nav td ul,.lnav td ul { display:block; }
	.lnav li a,.nav li a { padding-right:8px; }
	h1 { font-size:22px; }
}
@media print {
	.sn,#sn,#navc,#nvt,.fl .rdb,.fl a,body a i,body a .ext,.printhide,.l { display:none; }
	.ctab,.crow,.ctl,.ctr,.fl,.fr,.left,.right { display:block; width:auto; float:none; }
	.fl,.fr { text-align:center; }
	.island { -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; width:auto; }
	.sign,.s a { font-size:10pt; }
	.small,.utilitybox,.hp,.footer { font-size:11pt; }
	body,table,td,th,.ctl,.ctr,.norm { font-size:12pt; }
	.nav ul strong { font-size:13pt; }
	.header3,.sn a,.nav a,h3 { font-size:14pt; }
	.header2,h2,#nvt,.sn li strong { font-size:16pt; }
	.header,.thanksheader,h1 { font-size:18pt; }
	.island .lw { background-image:none; padding:0; }
	body, .lw { background-color:#FFF; }
	.left,.right { text-align:left; }
	.left img,.right img { margin:0 0 5px; }
}
.flc { width:100%; overflow:hidden; }
.lw { background-image:url(images/headerisland.png); }
a i { background-image:url(images/exth4.png); }
.nav a { overflow:hidden; }