@charset "UTF-8";
/* IKACHAN */
.ikaen1,.ikaen2,.ikaen3 { background-color:#06F; width:48px; height:76px; background-repeat:no-repeat; background-position: center center; position:absolute; left:0; top:0; }
.ikaenw { position:relative; height:auto !important; min-height:76px; height:76px; margin:0 0 6px; }
.ikaendes { padding:0 0 0 54px; }
.ikaen1 { background-image:url(images/ikachan_fish.png); }
.ikaen2 { background-image:url(images/ikachan_porcupine.png); }
.ikaen3 { background-image:url(images/ikachan_crab2.png); }
.ikaitem,.ikaext,.ikachar { background-repeat:repeat-x; margin:0 0 1px; height:auto !important; }
.ikaitem,.ikaext { padding:0 0 0 22px;  }
.ikachar,.ikaext { min-height:32px; height:32px; }
.as .ikaitem { background-image:url(images/ikachan_item.png); }
.ikaitem { background-color:#503020; min-height:18px; height:18px; }
.as .ikaext { background-image:url(images/ikachan_ext.png); }
.as .ikachar { background-image:url(images/ikachan_chr.png); }
.ikachar { padding:0 0 0 32px; background-position:0 0; }
.ikaext,.ikachar { background-color:#039; }
.ikaitem div,.ikaext div,.ikachar div { background-color:#FFF; padding:3px; }
.ikex1 { background-position:21px 0; }
.ikex2 { background-position:40px 0; }
.ikex3 { background-position:0 0; }
.ikit1 { background-position:19px 0; }
.ikit2 { background-position:38px 0; }
.ikit3 { background-position:57px 0; }
.ikit4 { background-position:76px 0; }
.ikit5 { background-position:95px 0; }
.ikit6 { background-position:114px 0; }
.ikit7 { background-position:133px 0; }
.ikit8 { background-position:152px 0; }
.ikit9 { background-position:171px 0; }
.ikit10 { background-position:190px 0; }
.ikit11 { background-position:0 0; }
.ikch1 { background-position:32px 0; }
.ikch2 { background-position:64px 0; }
.ikch3 { background-position:96px 0; }
.ikch4 { background-position:128px 0; }
.ikch5 { background-position:160px 0; }
.ikch6 { background-position:192px 0; }
.ikch7 { background-position:224px 0; }
.ikch8 { background-position:256px 0; }
.ikch9 { background-position:0 0; }
@media only screen and (max-width:940px) {
	.ikacr { width:200px; max-width:100%; }
}
@media only screen and (max-width:640px) {
	.ikacr { width:412px; }
}
@media only screen and (max-width:480px) {
	.ikacr { width:200px; }
}
@media print {
	.ikaen1,.ikaen2,.ikaen3 { display:none; }
	body .ikaitem,body .ikaext,body .ikachar,body .as .ikaitem,body .as .ikaext,body .as .ikachar { background-image:none; }
	.ikaitem,.ikaext,.ikachar,.ikaendes { padding:0; background-color:#FFF; }
}
